/esb-common-code/esb-common-code.iml
/some-product-consumer/some-product-consumer.iml
/wildfly-config/wildfly-config.iml
/common-code/common-code.iml
/esb-playground.iml
/esb-gateway/esb-gateway.iml
/.idea
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
